version: '3.7'
services:
  web:
    environment:
      - API_PORT=${API_PORT}
    ports:
      - ${API_PORT}:${API_PORT}
      - 9229:9229
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-f",
          "http://localhost:${API_PORT}/health"
        ]
      interval: 1m30s
      timeout: 2s
      retries: 3
      start_period: 40s
    build:
      context: .
      dockerfile: ./Dockerfile-web
    command: [ "sh", "-c", "npm install ; npm run debug:watch" ]
    volumes:
      - .:/web
      - node_modules:/web/node_modules
    # networks:
    #   network_name:
    #     ipv4_address: 173.35.0.15

    # networks:
    #   network_name:
    #     ipam:
    #       driver: default
    #       config:
    #         - subnet: 173.35.0.0/24

volumes:
  node_modules:
